@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 150 15% 5%;
    --foreground: 150 10% 96%;
    --border: 150 15% 16%;
    --input: 150 15% 16%;
    --ring: 158 64% 42%;
  }

  body {
    @apply bg-[#0C0F0E] text-slate-100 antialiased min-h-screen selection:bg-emerald-500 selection:text-white;
  }
}
